@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

body {
/*   margin: 0;
  padding: 20px 20px 100px 20px; */
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.posts {
  text-align: left;
  margin-top: 20px;
}

.post {
  /* border-bottom: 1px solid #ccc; */
  padding: 10px 20px 20px 20px;
}

.post:nth-child(odd) {
  background-color: #f4f4f4;
}

.btn-download {
  text-align: center;
  margin-top: 20px;
}

.download {
  text-align: center;
  margin-top: 10px;
}

button {
  background-color: #ccc;
  color: #555;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 1px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #49d1a4;
  color: #fff;
}

input, textarea {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 4px;
}

textarea {
  height: 100px;
}

h3 {
  text-transform: capitalize;
}

p {
  color: #666;
}
.thumbnail {
  height: 150px;
  width: 150px; 
}
a { 
  text-decoration: none; 
  color: #4183c4;
}

.todo-container{
  margin-top: 20px;
  text-align: center;
  padding-left: 5%;
}

/* .todo-add-btn{
  margin-top: 13px;
  background-color: #4183c4
} */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1 {
  font-size: 1.3rem;
 /*  letter-spacing: 0.1rem; */
  /* font-style: italic; */
  color: #4183c4;
/*   text-shadow: 0 0.2rem 5rem rgb(119, 115, 115); */
  /* text-transform: uppercase; */
  margin: .5rem 0;
}

.search-form {
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  box-shadow: 1rem 2rem 3rem #aaa;
  position: relative;
}

.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-btn{
  /* font-size: 1.5rem; */
  color: #fff;
  background-color: #40b48e;
  border: none;
  /* border-radius: 0.5rem; */
  /* height: 3rem; */
}

.search-form input {
  font-size: 16px;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 2rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #40b48e;
  color: #fff;
}

.recipes {
  /* width: 90%; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  /* width: 2%;
  height: auto; */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 1rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color: #40b48e;
}

.recipe button {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #40b48e;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
}

.recipe button:hover {
  background-color: #49d1a4;
  color: #fff;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  /*  margin: 0.5rem 0;  */
}

.ingredient-text {
  font-size: 18px;
  color: #888;
  text-align: left;
  white-space: pre-wrap;
}

/* .ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
} */

.required-field label::after { 
  content: "*";
  color: red;
}

h5 {
  font-size: 17px;
  color: #4183c4;
  text-transform: uppercase;
  margin: .5rem 0;
}